{% extends "base.html" %}

{% block sidebar %}{% endblock %}

{% block content %}

<div class="auth-wrapper">
    <div class="auth-card">

        <h3 class="text-center mb-4">Login</h3>

        {% for message in messages %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}

        <form method="post">
            {% csrf_token %}

            <input type="text" name="username" class="form-control mb-3" placeholder="Username">

            <input type="password" name="password" class="form-control mb-4" placeholder="Password">

            <button class="btn btn-primary w-100">Login</button>
        </form>

        <p class="text-center mt-3">
            Don't have an account?
            <a href="{% url 'signup' %}">Sign up</a>
        </p>

    </div>
</div>

{% endblock %}