{% extends "base.html" %}

{% block content %}

<div class="page-header">
    <h3 style="font-weight:800;"> Spending Stats</h3>
</div>

{% if error %}
    <div class="alert alert-danger">{{ error }}</div>
{% else %}

<div class="row g-4">

    <!-- PIE -->
    <div class="col-12 col-md-6">
        <div class="card shadow rounded-4 p-3">
            <h6 class="text-muted mb-3">By Category</h6>
            <canvas id="pieChart" style="max-height: 260px;"></canvas>
        </div>
    </div>

    <!-- LINE -->
    <div class="col-12 col-md-6">
        <div class="card shadow rounded-4 p-3">
            <h6 class="text-muted mb-3">Daily Spending</h6>
            <canvas id="lineChart" style="max-height: 260px;"></canvas>
        </div>
    </div>

</div>

{% endif %}

<script>
document.addEventListener('DOMContentLoaded', function () {

    const pieLabels = {{ labels|safe }};
    const pieValues = {{ values|safe }};

    const lineLabels = {{ line_labels|safe }};
    const lineValues = {{ line_values|safe }};

    // PIE
    new Chart(document.getElementById('pieChart'), {
    type: 'pie',
    data: {
        labels: pieLabels,
        datasets: [{
            data: pieValues,
            backgroundColor: [
                '#1D5D74',
                '#D66D55',
                '#88b4c3',
                '#6c7e87',
                '#f4a261'
            ]
        }]
    },
    options: {
        responsive: true,
        plugins: {
            legend: { position: 'bottom' },
            tooltip: {
                callbacks: {
                    label: function(context) {
                        let value = context.raw;
                        let total = context.dataset.data.reduce((a, b) => a + b, 0);
                        let percentage = ((value / total) * 100).toFixed(1);
                        return context.label + ": " + value + " (" + percentage + "%)";
                    }
                }
            }
        }
    }
});

    // LINE
    if (lineLabels.length > 0) {
        new Chart(document.getElementById('lineChart'), {
            type: 'line',
            data: {
                labels: lineLabels,
                datasets: [{
                    label: 'Daily Spending',
                    data: lineValues,
                    borderWidth: 2,
                    tension: 0.4
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: { display: false }
                }
            }
        });
    }

});
</script>

{% endblock %}
